<!DOCTYPE html>
    <html>
        <head>
                <title>How was your day?</title>
                {% load static %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                <link rel="stylesheet" href="{% static 'css_for_story_6.css' %}">
        </head>

        <body>
            {% include "navbar.html" %}
            {% block navbar %}
            {% endblock %}
            <div class="mx-auto" style="width: 500px;">
                <div id = "set_position">
                <h1 style="text-align: center">Hello! How was your day?</h1>
                <div class ="form-submit">
                    <form id = "form" method = "POST" action = "{% url 'choosen_choice' %}">
                        {% csrf_token %}
                        {{ MyDayToday }}
                        <br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <h2>Your Day</h2>
            
                {% for iterate in data %}
            
                <h6>{{ iterate.status }} - {{ iterate.time}}</p>

                {% endfor %}
               </div>
            </div>

        </body>
    </html>