{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'show_profile'%}">Profile <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'index' %}">Status</a>
          </div>
    </div>
</nav>
{% endblock %}