<!DOCTYPE html>
    <html>
        <head>
            <title>My Profile</title>
            {% load static %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css_for_story_6.css' %}">
        </head>

        <body>
            {% include "navbar.html" %}
            {% block navbar %}
            {% endblock %}
            <div id= "set_position">
                <div class="float-left">
                <img src = "{% static 'DSC_5311.JPG' %}" style="width: 150px"></div><br>
                <div class="mx-auto" style="width: 500px;">
                    <h2>A Little Thing About Me</h2>
                    <p>Name : Dhita Putri Pratama</p>
                    <p>DOB  : August 10th 2000 </p>
                    <p>POB  : Jakarta, Indonesia</p>
                    <p>NPM  : 1706039465</p>

                    <h2>A Little More About Me</h2>
                    <p>Hello! My name is Dhita Putri Pratama, but you can call me Dhita. I am 18 years old. I live in Jagakarsa St. 
                    No. 64, Lenteng Agung, South of Jakarta with my parents. I was born in Jakarta on Thursday, August 10th 2000.
                    I'm a Computer Science Major student at Universitas Indonesia with College ID number or (NPM in Bahasa) {{ npm }}.
                    My hobbies are sleeping, listening to music, and reading. My favourite singers or Bands are Aurora, Seafret and ONE OK ROCK.
                    I like to listen to their musics a lot. I'm an only child and i don't have any pet. I have two friends who sat</p>
                    </div>
            </div>
        </body>
    </html>